In [ ]:
import pandas as pd
import numpy as np
import os
import json

from tqdm import tqdm

In [ ]:
from google.colab import drive

# Mount your Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
projPath = '/content/drive/MyDrive/dsc_261/'
newsPath = os.path.join(projPath, 'datasets/News')
aaplPath = os.path.join(newsPath,'AAPL_News.csv')
PATH_PROJECT = '''/content/drive/MyDrive/dsc_261'''
PATH_DATA = os.path.join(PATH_PROJECT, 'datasets')

aggregated_folder = 'AGGREGATED_DATA'
PATH_AGG_DATA = os.path.join(PATH_DATA, aggregated_folder)

#### Consolidating Financial Data

In [ ]:
# Reading the data again from the Aggregated Directory
stock_data_merged = pd.read_csv(os.path.join(PATH_AGG_DATA, 'financial_tweets_data.csv'))

In [ ]:
stock_data_merged.head()

,date,open,high,low,close,adj close,volume,ticker,tp_0,tp_1,...,t2ve_503,t2ve_504,t2ve_505,t2ve_506,t2ve_507,t2ve_508,t2ve_509,t2ve_510,t2ve_511,t2ve_512
0,2012-09-04,36.580002,36.580002,36.060001,36.110001,29.401747,5247800.0,EXC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-09-05,36.290001,36.320000,35.759998,35.799999,29.149338,6421800.0,EXC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-09-06,35.950001,36.380001,35.919998,36.200001,29.475027,4102400.0,EXC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012-09-07,36.209999,36.250000,35.980000,36.150002,29.434313,3800700.0,EXC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-09-10,36.080002,36.090000,35.549999,35.700001,29.067911,6729500.0,EXC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
stock_data_merged.mean()

In [ ]:
stock_data_merged.mean()

<ipython-input-8-013df964700d>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  stock_data_merged.mean()

open         2414.480741
high         2426.328572
low          2400.854887
close        2414.218533
adj close    2409.914671
                ...
t2ve_508        0.017700
t2ve_509       -0.006840
t2ve_510        0.019031
t2ve_511       -0.037549
t2ve_512       -0.029749
Length: 573, dtype: float64

In [ ]:
tickers = sorted(stock_data_merged['ticker'].drop_duplicates().to_list())

In [ ]:
ticker = tickers[6]
ticker

'AMZN'

In [ ]:
stock_data_merged.isnull()#['t2ve_509']

,date,open,high,low,close,adj close,volume,ticker,tp_0,tp_1,...,t2ve_503,t2ve_504,t2ve_505,t2ve_506,t2ve_507,t2ve_508,t2ve_509,t2ve_510,t2ve_511,t2ve_512
0,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108587,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
108588,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
108589,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
108590,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
108591,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
dset = stock_data_merged[stock_data_merged['ticker'] == ticker].sort_values('date')

,date,open,high,low,close,adj close,volume,ticker,tp_0,tp_1,...,t2ve_503,t2ve_504,t2ve_505,t2ve_506,t2ve_507,t2ve_508,t2ve_509,t2ve_510,t2ve_511,t2ve_512
40957,2012-09-04,248.270004,251.000000,244.660004,247.880005,247.880005,3950800.0,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40958,2012-09-05,247.610001,248.610001,245.300003,246.220001,246.220001,2652600.0,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40959,2012-09-06,248.229996,252.699997,247.199997,251.380005,251.380005,5361400.0,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40960,2012-09-07,253.850006,259.420013,253.520004,259.140015,259.140015,5029500.0,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40961,2012-09-10,259.000000,260.000000,256.820007,257.089996,257.089996,2567200.0,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42210,2017-08-28,946.539978,953.000000,942.250000,946.020020,946.020020,2596700.0,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42211,2017-08-29,940.000000,956.000000,936.330017,954.059998,954.059998,2874300.0,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42212,2017-08-30,958.440002,969.409973,956.909973,967.590027,967.590027,2904600.0,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42213,2017-08-31,974.700012,981.000000,972.760010,980.599976,980.599976,3331500.0,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42214,2017-09-01,984.200012,984.500000,976.880005,978.250000,978.250000,2532200.0,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
stock_data_merged =

,date,open,high,low,close,adj close,volume,ticker,tp_0,tp_1,...,t2ve_503,t2ve_504,t2ve_505,t2ve_506,t2ve_507,t2ve_508,t2ve_509,t2ve_510,t2ve_511,t2ve_512
0,2012-09-04,36.580002,36.580002,36.060001,36.110001,29.401747,5247800.0,EXC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-09-05,36.290001,36.320000,35.759998,35.799999,29.149338,6421800.0,EXC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-09-06,35.950001,36.380001,35.919998,36.200001,29.475027,4102400.0,EXC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012-09-07,36.209999,36.250000,35.980000,36.150002,29.434313,3800700.0,EXC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-09-10,36.080002,36.090000,35.549999,35.700001,29.067911,6729500.0,EXC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108587,2017-08-28,80.220001,80.339996,79.809998,80.139999,79.385941,1700900.0,D,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108588,2017-08-29,80.199997,80.669998,80.169998,80.239998,79.485001,2065000.0,D,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108589,2017-08-30,79.449997,79.580002,78.730003,78.820000,78.820000,1726900.0,D,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108590,2017-08-31,78.889999,79.120003,78.629997,78.769997,78.769997,2010300.0,D,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108591,2017-09-01,78.900002,79.059998,78.199997,78.330002,78.330002,1547500.0,D,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
PATH_PRICE_DATA = os.path.join(PATH_DATA, 'price/raw')

In [ ]:
stock_data_files = [file for file in os.listdir(PATH_PRICE_DATA) if '.csv' in file]

In [ ]:
stock_data_all = pd.DataFrame()
for file_name in tqdm(stock_data_files, position=0):
    ticker = file_name.split('.')[0]
    file_data = pd.read_csv(os.path.join(PATH_PRICE_DATA, file_name))
    file_data['ticker'] = ticker
    # Aggregating all the datasets
    stock_data_all = pd.concat([stock_data_all, file_data], axis=0)

In [ ]:
stock_data_all.columns = [x.lower() for x in stock_data_all.columns]

In [ ]:
# Storing the data in the Aggregated Directory
stock_data_all.to_csv(os.path.join(PATH_AGG_DATA, 'financial_data.csv'), index=False)

In [ ]:
# Reading the data again from the Aggregated Directory
stock_data_all = pd.read_csv(os.path.join(PATH_AGG_DATA, 'financial_data.csv'))

## Adding Tweet Vectors

In [ ]:
# Reading Tweet data
tweets = pd.read_csv(os.path.join(PATH_AGG_DATA, 'tweet_embeddings_all_agg.csv'))

In [ ]:
tweets.head()

,ticker,date,tp_0,tp_1,tp_2,tp_3,tp_4,tp_5,tp_6,tp_7,...,t2ve_503,t2ve_504,t2ve_505,t2ve_506,t2ve_507,t2ve_508,t2ve_509,t2ve_510,t2ve_511,t2ve_512
0,AAPL,2013-12-31,1,0,0,0,0,0,0,0,...,0.024533,0.045217,0.082425,-0.009038,0.024683,0.014230,-0.005057,0.036838,-0.034250,0.042868
1,AAPL,2014-01-01,8,0,0,0,0,0,0,0,...,0.021426,0.034109,0.057758,-0.006272,0.038048,0.028415,-0.003747,0.028702,-0.046322,0.019313
2,AAPL,2014-01-02,31,0,0,0,0,0,0,0,...,-0.007182,0.042413,0.045770,0.003726,0.038268,0.026364,-0.009559,0.031142,-0.054542,-0.013422
3,AAPL,2014-01-03,21,0,0,0,0,0,0,0,...,0.006636,0.038112,0.044563,0.007831,0.034383,0.044858,-0.010264,0.029918,-0.045999,0.008392
4,AAPL,2014-01-04,5,0,0,0,0,0,0,0,...,-0.002843,0.016980,0.058355,-0.014244,0.015553,0.025035,-0.018254,0.044570,-0.054826,0.017356

### Merging Financial and Tweets Vectors

In [ ]:
fin_tickers = stock_data_all['ticker'].drop_duplicates().to_list()
twe_tickers = tweets['ticker'].drop_duplicates().to_list()
[x for x in fin_tickers if x not in twe_tickers]

['GMRE']

['GMRE']

In [ ]:
stock_data_merged = stock_data_all.merge(tweets, on=['date', 'ticker'], how='left')

In [ ]:
# Storing the data (financial + tweets) in the Aggregated Directory
stock_data_merged.to_csv(os.path.join(PATH_AGG_DATA, 'financial_tweets_data.csv'), index=False)

In [ ]:
# Reading the data again from the Aggregated Directory (Financial + Tweets)
stock_data_merged = pd.read_csv(os.path.join(PATH_AGG_DATA, 'financial_tweets_data.csv'))

In [ ]:
stock_data_merged.isnull().mean()

date        0.000000
open        0.000028
high        0.000028
low         0.000028
close       0.000028
              ...
t2ve_508    0.798024
t2ve_509    0.798024
t2ve_510    0.798024
t2ve_511    0.798024
t2ve_512    0.798024
Length: 575, dtype: float64

## Adding News Vectors

In [ ]:
os.path.join(PATH_AGG_DATA, 'financial_tweets_data.csv')

In [ ]:
ls /content/drive/MyDrive/dsc_261/datasets/AGGREGATED_DATA/

financial_data.csv         news.csv     news_upd.csv     tweet_embeddings_all_agg.csv
financial_tweets_data.csv  news.gsheet  news_upd.gsheet